.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.Body {
  margin-top: 40;
  font-family: "OptimoPlainRegular";
  font-weight: 400;
  font-size: 24;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.nav {
  color: #ddd;
  font-family: "BBRollerRegular";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  &.active {
    color: #ddd;
    border-bottom: 2px solid #ddd;
  }
}
a.bluebutton {
  border-radius: 14px;
  background-color: rgb(39, 112, 239);
  color: #ffffff;
  padding: 4px 15px;
  font-family: "OptimoPlainRegular";
  font-weight: 400;
  font-size: 12px;
  outline: none;
  border-style: solid;
  border-color: rgb(39, 112, 239);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.column {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}



