.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.Body {
  margin-top: 40;
  font-family: "OptimoPlain";
  font-weight: 400;
  font-size: 24;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



